{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script type="text/javascript" src="/static/smart-selects/admin/js/bindfields.js"></script>
    <title>Document</title>

</head>
<body>
     <div class="container">

    <nav>
        <a href="{% url 'home' %}">Project index</a>
        <a href="{% url 'accounts:index' %}">App index</a>
        <a href="{% url 'listings:index' %}">Listings</a>
        {% if user.is_authenticated %}
        <a href ="{% url 'accounts:profile' %}">profile</a>
        {% if user.is_superuser %}
        <a href ="{% url 'admin:index' %}">admin panel</a>
        {% endif %}
        <a href ="{% url 'account_logout' %}">logout</a>
        {% else %}
        <a href ="{% url 'account_login' %}">Login</a>
        <a href ="{% url 'account_signup' %}">signup</a>
        <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook OAuth2</a>
        <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook Connect</a>



        {% endif %}
    </nav>
    {% block appnav %}
    {% endblock %}


          {% block content %}
          {% endblock %}

    </div>
  </body>
</body>
</html>