{% extends 'base.html' %}
{% block appnav %}

<a href="{% url 'listings:listing_by_status' 'for_sale' %}">Buy</a>
<a href="{% url 'listings:listing_by_status' 'for_rent' %}">Rent</a>
<a href="{% url 'listings:listing_by_status' 'for_timeshare' %}">Timeshare</a>
<a href="{% url 'listings:search_listings' %}">Advanced Search</a>

<a href="{% url 'listings:new_listing' %}">Sell</a>
{% if user.is_authenticated %}
<a href={% url 'listings:user_listings' user.username %}>My listings</a>
<a href={% url 'listings:user_favorites' %}>My favorites</a>

{% endif %}

{% endblock %}
