{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h4 class="pt-3">Essential information</h4>

{% if form.errors %}
{% for err in form.errors %}
<p>{{err}}</p>
{% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form|crispy }}

<hr>
<h4>Extra</h4>
<h6>make sure to upload at least one image for your property, more is better</h6>
  {% for formset in inlines %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        {{ form|crispy }}
        {% endfor %}
    </table>
  {% endfor %}

</table>

<input type="submit" value="save" class="btn btn-success">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'account_reset_password' %}">Lost password?</a></p>

{% endblock %}