{% extends "listings/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ form|crispy }}
  {% for formset in inlines %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        {{ form|crispy }}
        {% endfor %}
    </table>
  {% endfor %}

</table>

<input type="submit" value="save" class="btn btn-success">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<h3>{{ list_title }}</h3>
<ul>
{% for object in object_list %}
<li><a href="{{ object.get_absolute_url }}"> {{ object }}<a></li>
<small>by: <a href="{% url 'listings:user_listings' object.user.username %}">{{ object.user }}</a></small>
{% if object.user == user %} <small><a href="{{ object.get_absolute_url }}/edit">edit</a></small> 
<small><a href="{{ object.get_absolute_url }}/delete">Delete</small> {% endif %}

{% endfor %}
</ul>

{% endblock %}