{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mt-4 text-center mx-auto" style="max-width: 500px;">
<h2>Edit your profile</h2>
<form method="post" action="{% url 'accounts:profile_edit' %}">
{% csrf_token %}
<table>
{{ form|crispy }}
{% for formset in inlines %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form|crispy    }}
    {% endfor %}
{% endfor %}
</table>

<input class="btn btn-success" type="submit" value="save">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}