{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <h2>{% trans "Set Password" %}</h2>
<div class="mt-4" style="max-width: 500px;">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-warning" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>

{% endblock %}
